*{box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
body,html{
    margin: 0; 
    height: auto;
}

img{
    max-width: 100%; 
    height: auto;
}

a{
    color:blue;
}

.innerlinks{
    /*display: flex;*/
    
    /*flex-flow: column;*/
    border-radius: 8px;
    /*border: solid black;
    padding: 1em;*/
    display: inline-block;
    padding:30px;
    margin:15px;
    border:3px dashed red;
    border-spacing: 15px;
     
}
/*
.inline-block{
    display: inline-block;
    padding:1em 15,9 px;
    margin:2em;
    border:3px dashed red;
}
*/
header{
    background-image: url(Uncharted-4_480px.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 28px;
  /*font-family: Redressed;*/
}

body{
    background: linear-gradient(to bottom, #23444B 0%, #152238 100%);
    color: grey;
    font-size: 20px;
}

.button{
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid white;
    margin-top: 30px;
    color: white;
    text-align: center;
}

.col-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

ul{
    list-style: none;
}

.pila{
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 2em;
    background-color: white;
    color: blue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
}

@media screen and (min-width: 37.5em){
    header{
        background-image: url(Uncharted-4_960px.jpg);
        height: 100vh;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 28px;
      /*font-family: Redressed;*/
    }

@media screen and (min-width: 48em){
    header{
        background-image: url(Uncharted-4_1280px.jpg);
        height: 100vh;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 28px;
      /*font-family: Redressed;*/
    }
}

@media screen and (min-width: 60em){
    header, nav,  main, footer{
        margin: 0 auto;
        max-width: 60em;
    }

    header{
        background-image: url(Uncharted-4_2000px.jpg);
        height: 100vh;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 28px;
      /*font-family: Redressed;*/
    }
}
