*{
    box-sizing:border-box;
}

body{
    max-width: 60em;
    margin: 0 auto;
    font-family: Serif ;
}

.rammi{
    border: 1px solid;
    padding: 15px;   
    margin: 10px;
    display: grid;
    grid-gap: 10px;
}

.dálkar-2{

    grid-template-columns: 1fr 1fr;
} 

.dálkar-3{
    grid-template-columns: 1fr 1fr 1fr;
}

.dálkar-4{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

